@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-size-base: 16px;
}

.grayscale {
  filter: grayscale(100%);
}

.high-contrast {
  filter: contrast(150%);
}

.negative-contrast {
  filter: invert(100%);
}

.light-background {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.links-underline a {
  text-decoration: underline !important;
}

.readable-font {
  font-family: Arial, sans-serif !important;
  line-height: 1.6 !important;
  letter-spacing: 0.5px !important;
}